<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="MySuite ">
        <classes>
            <class name="org.example.Appium"/>
            <class name="org.example.Rest"/>
            <class name="org.example.Selenium"/>
        </classes>
    </test>
</suite>